{{define "main"}}

<section class="blog">
  <div class="container">
    <div class="row justify-content-center">
      {{ range where .Site.RegularPages "Section" "fun-tuff" }}
      <div class="col-md-4 p-4">
        <div class="card">
          <div class="img position-relative">
            <img src="{{.Params.image}}" alt="blog" class="img-fluid" />
          </div>
          <div class="content">
            <h3><a href="{{.Permalink}}">{{.Title}}</a></h3>
            <p>{{.Params.summary}}</p>

            <a href="{{.Permalink}}">Learn More >></a>
          </div>
        </div>
      </div>
      {{end}}
    </div>
  </div>
</section>

{{end}}
