<!DOCTYPE html>
<html lang="en">
  {{ partial "head.html" .}}

  <body>
    {{ partial "header.html" .}}

    <main id="main">
      {{ block "main" . }}
      <!-- The part of the page that begins to differ between templates -->
      {{ end }}
    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    {{ partial "footer.html" .}}
    <!-- End Footer -->

    <a
      href="#"
      class="back-to-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>

    {{ partial "script.html" .}}
  </body>
</html>
