<footer id="footer">
  <div class="container">
    <div class="copyright">
      &copy; Copyright <strong><span>Shrike Foo</span></strong
      >. All Rights Reserved
    </div>
    <div class="credits">
      Designed by <a href="https://sualsoft.com/">S U A L Soft</a>
    </div>
  </div>
</footer>

<script>
var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
  var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
    return new bootstrap.Tooltip(tooltipTriggerEl)
  })
  </script>