<footer id="footer">
  <div class="container">
    <!--Social Icons-->
    <div class="social-media">
      <ul>
        {{ range .Site.Params.social }}
        <li>
          <a href="{{ .link }}"><i class="{{ .icon }}"></i></a>
        </li>
        {{ end }}
      </ul>
    </div>

    <!--Bottom-->
    <div class="copyright">
      &copy; Copyright <strong><span>Shrike Foo</span></strong
      >. All Rights Reserved
    </div>
    <div class="credits">
      Designed by <a href="https://sualsoft.com/">S U A L Soft</a>
    </div>
  </div>
</footer>

<script>
  var tooltipTriggerList = [].slice.call(
    document.querySelectorAll('[data-bs-toggle="tooltip"]')
  );
  var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
    return new bootstrap.Tooltip(tooltipTriggerEl);
  });
</script>
