<!-- ======= Header ======= -->
<header id="header" class="fixed-top d-flex align-items-center">
  <div class="container d-flex align-items-center justify-content-between">
    <div class="logo">
      <a href="/"
        ><img src="{{ .Site.Params.logo | absURL }}" alt="" class="img-fluid"
      /></a>
    </div>

    <nav id="navbar" class="navbar">
      {{partial "menu.html" .}}
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>
    <!-- .navbar -->
  </div>
</header>
<!-- End Header -->
